body{
 font-family:"微軟正黑體";
}
td input{
 font-family:"微軟正黑體";
 width:100%;
}
.style1 {
 width:95%;
 margin: 0px;
 padding: 0px;
 background-color:#2f7bed;
 font-size:0.85em;
 font-family:"微軟正黑體";
}
.style2 {
 width:95%;
 margin: 0px;
 padding: 0px;
 background-color:#00e65c;
 font-size:0.85em;
 font-family:"微軟正黑體";
}
td {
  font-family:"微軟正黑體";
 background-color:#FFF;
 text-align: center;
 margin: 0px;
 padding: 3px;
}