<!DOCTYPE html>
<html>

  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap"
      rel="stylesheet">
  </head>

  <body>
    <h1>編輯課程</h1>
    <h2>所有課程</h2>
    {% apply inline_css(source("@css/table.css")) %}
    <table id="tableCourse" class="style3">
      <tr>
        <th>Section</th>
        <th>Course</th>
        <th>Instructor</th>
        <th>Credits</th>
        <th>Max. Students</th>
        <th>Students Enrolled</th>
        <th>Semester</th>
      </tr>
      {% for data in result %}
      <tr>
        <td>{{ data["lecture_section"] }}</td>
        <td>{{ data["course_name"] }}</td>
        <td>{{ data["instructor_name"] }}</td>
        <td>{{ data["course_credit"] }}</td>
        <td>{{ data["participant_limit"] }}</td>
        <td>{{ data["current_participant"] }}</td>
        <td>{{ data["semester"] }}</td>
      </tr>
      {% endfor %}
    </table>

    <br/>
    <button id="btn1" type="button" class="collapsible">新增</button>
    <form id="formAddCourse" action="/admin/courses" method="POST"
      style="display: none;">
      <div class="row">
        <div class="column">
          Section<br/>
          Course<br/>
          Instructor<br/>
          Credits<br/>
          Max. Students<br/>
          Semester<br/>
        </div>
        <div class="column">
          <input type="text" name="course[section]" value="" required><br/>
          <input type="text" name="course[name]" value="" required><br/>
          <input type="text" name="course[instructor]" value="" required><br/>
          <input type="text" name="course[credits]" value="" required><br/>
          <input type="text" name="course[max_students]" value="" required><br/>
          <input type="text" name="course[semester]" value="" required><br/>
        </div>
      </div>
      <input type="submit" name="confirmAdd" class="btnConfirmAdd" value="確認加入">
    </form>

    <br/>
    <br/>
    <button id="btn2" type="button" class="collapsible">刪除</button>
    <form id="formRemoveCourse" action="/admin/courses" method="POST"
      style="display: none;">
      <div class="row">
        <div class="column">
          Section<br/>
          Course<br/>
          Instructor<br/>
        </div>
        <div class="column">
          <input type="text" name="course[section]" value="" required><br/>
          <input type="text" name="course[name]" value="" required><br/>
          <input type="text" name="course[instructor]" value="" required><br/>
        </div>
     </div>
      <input type="submit" name="confirmDel" class="btnConfirmDel" value="確認刪除">
    </form>
    {% endapply %}

    <script>
    function addCourse() {
      let table = document.getElementById("formAddCourse");
      if (table.style.display === 'none') {
        table.style.display = 'block';
      } else if (table.style.display === 'block') {
        table.style.display = 'none';
      }
    }

    function removeCourse() {
      let table = document.getElementById("formRemoveCourse");
      if (table.style.display === 'none') {
        table.style.display = 'block';
      } else if (table.style.display === 'block') {
        table.style.display = 'none';
      }
    }

    document.getElementById("btn1").addEventListener("click", addCourse);
    document.getElementById("btn2").addEventListener("click", removeCourse);
  </script>
  </body>

</html>