<!DOCTYPE html>
<html>

  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap"
      rel="stylesheet">
  </head>

  <body>
    <h1>編輯課程</h1>
    <h2>所有課程</h2>
    {% apply inline_css(source("@css/table.css")) %}
    <table id="tableCourse" class="style3">
      <tr>
        <th>Section</th>
        <th>Course</th>
        <th>Instructor</th>
        <th>Credits</th>
        <th>Max. Students</th>
        <th>Students Enrolled</th>
        <th>Semester</th>
      </tr>
      {% for data in result %}
      <tr>
        <td>{{ data["lecture_section"] }}</td>
        <td>{{ data["course_name"] }}</td>
        <td>{{ data["instructor_name"] }}</td>
        <td>{{ data["course_credit"] }}</td>
        <td>{{ data["participant_limit"] }}</td>
        <td>{{ data["current_participant"] }}</td>
        <td>{{ data["semester"] }}</td>
      </tr>
      {% endfor %}
    </table>

    <div class="btnWrapper">
      <button id="btn1" type="button">新增</button>
      <button id="btn2" type="button">刪除</button>
    </div>

    <form id="formAddCourse" action="/admin/courses" method="POST"
      style="display: none;">
      <table class="style3">
        <tr>
          <th>Section</th>
          <th>Course</th>
          <th>Instructor</th>
          <th>Credits</th>
          <th>Max. Students</th>
          <th>Semester</th>
        </tr>
        <tr>
          <td><input type="text" name="course[section]" value=""></td>
          <td><input type="text" name="course[name]" value=""></td>
          <td><input type="text" name="course[instructor]" value=""></td>
          <td><input type="text" name="course[credits]" value=""></td>
          <td><input type="text" name="course[max_students]" value=""></td>
          <td><input type="text" name="course[semester]" value=""></td>
        </tr>
      </table>
      <input type="submit" name="confirmAdd" value="確認加入">
    </form>
    <form id="formRemoveCourse" action="/admin/courses" method="POST"
      style="display: none;">
      <table class="style3">
        <tr>
          <th>Section</th>
          <th>Course</th>
          <th>Instructor</th>
        </tr>
        <tr>
          <td><input type="text" name="course[section]" value=""></td>
          <td><input type="text" name="course[name]" value=""></td>
          <td><input type="text" name="course[instructor]" value=""></td>
        </tr>
      </table>
      <input type="submit" name="confirmDel" value="確認刪除">
    </form>
    {% endapply %}

    <div id="hidden_form_container" style="display:none;"></div>

    <script>
    function addCourse() {
      let table = document.getElementById("formAddCourse");
      if (table.style.display === 'none') {
        table.style.display = 'block';
        document.getElementById("btn1").innerText = '取消';
        document.getElementById("btn2").style.display = 'none';
      } else if (table.style.display === 'block') {
        table.style.display = 'none';
        document.getElementById("btn1").innerText = '新增';
        document.getElementById("btn2").style.display = 'block';
      }
    }

    function removeCourse() {
      let table = document.getElementById("formRemoveCourse");
      if (table.style.display === 'none') {
        table.style.display = 'block';
        document.getElementById("btn2").innerText = '取消';
        document.getElementById("btn1").style.display = 'none';
      } else if (table.style.display === 'block') {
        table.style.display = 'none';
        document.getElementById("btn2").innerText = '刪除';
        document.getElementById("btn1").style.display = 'block';
      }
    }

    document.getElementById("btn1").addEventListener("click", addCourse);
    document.getElementById("btn2").addEventListener("click", removeCourse);
  </script>
  </body>

</html>